.logo {
  height: 4.6rem;
  display: block;
  margin: 30px auto;
}

.card-grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 0 10px;
  margin: 40px auto 0 auto;
  color: white; 
}

.film-card{    
     width: 100%;
  max-width: 450px;
  min-width: 300px;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

.film-card:hover {
  transform: perspective(1px) translateZ(0px);
    transition: all 0.3s ease 0s;
    overflow: hidden;
  box-shadow: 0px 0px 10px 2px rgb(74, 178, 248);
}

.film-card:nth-child(1){
  background: url('https://finmavis.github.io/swapi-task/static/media/bg-card-1.0c96fd00.png')
}

.film-card:nth-child(2){
  background: url('https://finmavis.github.io/swapi-task/static/media/bg-card-2.b0a7b209.png');
}

.film-card:nth-child(3){
background: url('https://finmavis.github.io/swapi-task/static/media/bg-card-3.1914d853.png');
}

.film-card:nth-child(4){
  background: url('https://finmavis.github.io/swapi-task/static/media/bg-card-4.c21c4d4b.png');
}

.film-card:nth-child(5){
  background: url('https://finmavis.github.io/swapi-task/static/media/bg-card-5.67d061d6.png');
}

.film-card:nth-child(6){
  background: url('https://finmavis.github.io/swapi-task/static/media/bg-card-6.b4fea25d.png');
}

li{
  list-style: none;
}

.message{
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.3rem;
  font-size: 600;
  color: white;
}

.title{
  font-size: 1.3rem;
}

.dates{
  color: rgb(151, 149, 149);
  margin-top: 5px;
  font-size: 0.75rem;
}

.text{
  font-size: 13px;
   margin: 20px 0;
  line-height: 1.3rem;
  overflow-wrap: break-word;
}

.divider{
  height: 2px;
  background-color: rgb(247, 81, 81);
  margin-top: 22px;
}

.butn{
  color: rgb(223, 223, 49);
  background-color: transparent;
  border: none;
  font-size: 0.78rem;
}


@media screen and (min-width: 750px){
  
  .film-card{
   max-width: 290px;
   min-width: 280px;
  }
}

@media screen and (min-width: 1024px){
  
  .film-card{
       max-width: 310px;
       min-width: 300px;
     }
}




